.details-layout {
    height: 89vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.product-info {
    height: 60vh;
}

.details-imgs-cont {
    position: relative;
    height: 60vh;
}

.selected-img-cont {
    height: 100%;
    width: 100%;

    img {
        display: flex;
        height: 100%;
        margin: auto;
        border-radius: 32px;
        animation: 0.4s ease-in 0s 1 fadeIn ;
        box-shadow: 5px 4px 13px 2px rgb(166 164 177 / 45%);
    }
}

.unselected-imgs {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);

    .selected-img {
        display: none;
    }
}

.unselected-img {
    border-radius: 50%;
    outline: 1px solid #00000026;
    height: 12vh;
    cursor: pointer;
    transition: 250ms;

    &:hover {
        outline-color: transparent;
        box-shadow: 3px 3px 9px 1px #72717c61;
    }
}