.details-main-cont {
    display: flex;
    align-items: center;
    height: 89vh;
}

.details-layout {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: fit-content;
    padding: 0 32px;
}

.details-imgs-cont {
    position: relative;
}

.details-imgs-display {
    position: relative;
    margin: auto;
    width: 70%;

    .main-selected-img {
        width: 100%;
        display: flex;
        margin: auto;
        border-radius: 32px;
        animation: 0.3s ease-in 0s 1 fadeIn;
        box-shadow: 5px 4px 13px 2px rgb(166 164 177 / 45%);
    }
}

.unselected-imgs {
    position: absolute;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);

    .selected-img {
        display: none;
    }
}

.unselected-img {
    border-radius: 50%;
    outline: 0px solid rgb(171 153 240);
    width: 25%;
    cursor: pointer;
    transition: 250ms;
    aspect-ratio: 1/1;

    &:hover {
        box-shadow: 3px 3px 9px 1px #72717c61;
        outline-width: 1.2vw;
    }
}