.details-main-cont {
    display: flex;
    align-items: center;
    height: 89vh;
}

.details-layout {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: fit-content;
    padding: 0 32px;
}

.details-imgs-cont {
    position: relative;
}

.details-imgs-display {
    position: relative;
    margin: auto;
    width: 70%;

    .main-selected-img {
        width: 100%;
        display: flex;
        margin: auto;
        border-radius: 32px;
        animation: 0.3s ease-in 0s 1 fadeIn;
        box-shadow: 5px 4px 13px 2px rgb(166 164 177 / 45%);
    }
}

.unselected-imgs {
    position: absolute;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);

    .selected-img {
        display: none;
    }
}

.unselected-img {
    border-radius: 50%;
    outline: 0px solid rgb(171 153 240);
    width: 25%;
    cursor: pointer;
    transition: 250ms;
    aspect-ratio: 1/1;

    &:hover {
        box-shadow: 3px 3px 9px 1px #72717c61;
        outline-width: 1.2vw;
    }
}

.details-bkg {
    position: absolute;
    height: 380px;
    z-index: -2;
    left: 45%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.product-info {
    position: relative;
    color: #655d6b;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    text-transform: capitalize;

    span {
        font-weight: bold;
    }
}

.product-info-cont {
    height: calc(87% - 6%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6%;
}

.product-info-description {
    width: 70%;
    padding: 8px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.073);
    font-size: 0.8em;
}

.description-btn {
    display: flex;
    align-items: center;
    background-color: #e4d4ff53;
    border-radius: 10px;
    font-size: 12px;
    padding: 3px 10px;
    margin-top: 8px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        outline: 4px solid #e4d4ff;
    }

    img {
        height: 16px !important;
        padding-right: 5px;
        color: #655d6b;
        font-family: Helvetica, sans-serif;
    }
}

.product-info-title {
    font-size: 2.4em;
    font-family: monospace;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.contact-seller {
    height: 300px;
    width: 300px;
    border: 3px solid;
    background: rgba(228, 212, 255, 0.3254901961);
    position: fixed;
    right: -150px;
    bottom: -150px;
    border-radius: 50%;
    transition: 0.5s;

    img {
        position: absolute;
        top: 80px;
        left: 80px;
        height: 65px;
        transition: 0.5s;
    }

    &:hover {
        cursor: pointer;
        width: 500px;
        height: 500px;
        right: -250px;
        bottom: -250px;

        img {
            top: 135px;
            left: 135px;
        }
    }
}