// @import 'set-up/main-set-up';
// @import 'basics/main-basics';
// @import 'cmps/main-cmps';
// @import 'views/main-views';

@font-face {
    font-family: roboto;
    src: url("../assets/fonts/Roboto-Black.ttf");
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(77, 113, 255, 0.053);

    &>div {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}

::-webkit-scrollbar {
    background-color: #ffffff;
    cursor: pointer !important;
    border-radius: 50px;

    &-thumb {
        margin: -1px;
        border: 1px solid rgba(0, 0, 0, 0.356);
        background-color: rgba(77, 113, 255, 0.053);
        border-radius: 50px;
    }

    &-track {
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.356);
        background-color: #ffffff !important;
    }
}

.app-header-layout {
    position: absolute;
    height: 10vh;
    width: 100vw;
}

.app-header-cont {
    border-bottom: 1px solid #ded7d799;
    position: fixed;
    background-color: white;
    padding: 20px 32px;
    height: calc(10vh - 40px);
    width: calc(100vw - 64px);
}

.homepage-layout {
    display: flex;
    height: inherit;
}

.header-logo-cont {
    color: rgba(81, 81, 81, 0.942);
    display: flex;
    align-items: center;
    font-size: 28px;
    font-family: roboto;
    letter-spacing: -0.5px;
    width: fit-content;
    height: 100%;

    img {
        position: relative;
        margin-right: 15px;
        top: 5px;
        z-index: 1;
        height: 60px;
    }

    div {
        z-index: 2;
    }

    span {
        font-size: 1.2em;
        color: #4349fbc4;
    }
}

.product-list-layout {
    width: calc(100% - 64px);
    height: calc(100% - 32px);
    padding: 16px 32px;
}

.product-list-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    margin-top: 24px;
    width: 100%;
}

.product-preview-layout {
    display: flex;
    border-radius: 16px;
    min-height: 20vh;
    height: 30vh;
    max-height: 40vh;
    aspect-ratio: 1/1;
    background-color: white;
    box-shadow: -2px 4px 19px 4px rgb(217 217 217 / 58%);
    transition: 230ms;

    &:hover {
        box-shadow: -2px 4px 19px 4px rgb(194 185 185 / 58%);
        cursor: pointer;
    }
}