@media screen and (min-width:1530px) {
    .product-min-info {
        height: 3.4vw;
    }

    .product-preview-layout:hover {
        .product-min-info {
            height: 5.2vw;
        }
    }

    .product-date {
        font-size: 1.3em;
    }
}

@media screen and (min-width:1168px) {
    .product-list-cont {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width:1168px) {
    .product-list-cont {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:970px) {
    .product-list-cont {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:796px) {
    .grid-layout {
        grid-template-columns: 200px 1fr;
    }

    .side-filters-cont {
        width: 200px;
    }

    .product-list-cont {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1371px) {
    .min-info-title {
        font-size: 0.9em;
    }
}

@media screen and (min-width:1371px) {
    .product-min-info {
        font-size: 1.1em;
    }
}

@media screen and (max-width:654px) {

    .app-header-main-content {
        display: flex;
        margin: auto;
    }

    .header-logo-cont div {
        display: none;
    }

    .search-bar-layout {
        display: flex;
    }

    .app-header-cont {
        display: flex;
        padding: 0 48px;

        .nav {
            display: none;
        }
    }

    .header-logo-cont {
        width: unset;
    }

    .product-list-layout {
        column-gap: 4vw;
    }

    .grid-layout {
        grid-template-columns: 150px 1fr;
    }

    .side-filters-cont {
        width: 150px;
    }

    .min-info-title {
        font-size: 1.1em;
    }

    .product-min-info {
        height: 44%;
        background: #00000087;
    }

    .min-info-city {
        opacity: 1 !important;
        bottom: 3px;
    }
}


@media screen and (max-width:590px) {
    .product-list-cont {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:370px) {
    .header-logo-cont {
        display: none;
    }

    .search-bar-cont input {
        min-width: 50vw;
    }
}