@media screen and (min-width:1530px) {
    .product-min-info {
        height: 3.4vw;
    }

    .product-preview-layout:hover {
        .product-min-info {
            height: 5.2vw;
        }
    }

    .product-date {
        font-size: 1.3em;
    }
}

@media screen and (max-width:1371px) {
    .min-info-title {
        font-size: 0.9em;
    }

    .details-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1168px) {
    .product-list-cont {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width:1168px) {
    .product-list-cont {
        grid-template-columns: repeat(4, 1fr);
    }

    .details-layout {
        grid-template-columns: 1.2fr 1fr;
    }
}

@media screen and (max-width:970px) {
    .product-list-cont {
        grid-template-columns: repeat(3, 1fr);
    }
    .details-layout {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media screen and (max-width:796px) {
    .grid-layout {
        grid-template-columns: 200px 1fr;
    }

    .side-filters-cont {
        width: 200px;
    }

    .product-list-cont {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1371px) {
    .product-min-info {
        font-size: 1.1em;
    }
}

@media screen and (max-width:654px) {

    .app-header-main-content {
        display: flex;
        margin: auto;
    }

    .header-logo-cont div {
        display: none;
    }

    .search-bar-layout {
        display: flex;
    }

    .app-header-cont {
        display: flex;
        padding: 0 48px;

        .nav {
            display: none;
        }
    }

    .header-logo-cont {
        width: unset;
    }

    .min-info-title {
        font-size: 1.1em;
        word-wrap: break-word;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }

    .product-min-info {
        height: 32%;
        background: #0000002d;
    }
    .product-date{
        top: 0;
        font-size: 1.2em;
        background-color: rgb(160 138 245 / 93%);
    }

    .min-info-city {
        opacity: 1 !important;
        bottom: 3px;
    }
    .product-list-layout{
        display: flex;
        flex-direction: column;
        gap: 7vw;
    }
    .side-filters-layout{
        height: 70px;
        width: 100%;
    }
    .side-filters-cont{
        height: 100%;
        width: 100%;
        position: unset;
    }
    .product-list-cont{
        gap: 5vw;
    }
}

@media screen and (max-width:370px) {
    .header-logo-cont {
        display: none;
    }

    .search-bar-cont input {
        min-width: 50vw;
    }
}