
.app-header-layout {
    position: absolute;
    height: 10vh;
}

.app-header-cont {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 2vw;
    border-bottom: 1px solid #ded7d799;
    position: fixed;
    background-color: white;
    padding: 0px 32px;
    height: 10vh;
    width: calc(100vw - 64px);
}

.header-logo-cont {
    color: rgba(81, 81, 81, 0.942);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: roboto;
    letter-spacing: -0.5px;
    width: 100%;
    height: 100%;

    img {
        position: relative;
        margin-right: 12px;
        margin-top: 0.5vh;
        top: 5px;
        z-index: 1;
        height: 60px;
    }

    div {
        padding-right: 5px;
        z-index: 2;
    }

    span {
        font-size: 1.2em;
        color: #7f63fa;
    }
}

.app-header-main-content {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        font-size: 16px;
        width: 30%;
        border-radius: 15px;
        padding: 3px 15px;
        height: 30px;
        padding-right: 10px;
        &::placeholder{
            color: rgb(108, 107, 132);
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        cursor: pointer;
        border-radius: 50%;
        margin-left: -17px;
        height: 30px;
        aspect-ratio: 1/1;
        background-color: rgb(160, 148, 255);
    }
}
