.product-list-layout {
    display: grid;
    column-gap: 2vw;
    width: calc(100% - 64px);
    height: calc(100% - 32px);
    padding: 16px 32px;
    padding-top: 0;
    margin-top: 30px;
}

.product-list-cont {
    display: grid;
    gap: 2vw;
    padding-bottom: 12px;
}